:root {
    /* colors */
    --color--Violet: hsl(263, 55%, 52%);
    --color--pm--grayblue: hsl(217, 19%, 35%);
    --color--pm--darkblue: hsl(219, 29%, 14%);
    --color--pm--white: hsl(0, 0%, 100%);

    --color--ne--gray: hsl(0, 0%, 81%);
    --color--ne--grayblue:hsl(210, 46%, 95%);
    /* Font size */
    --size--sm: 13px;
    /* Font-family */
    --font-family--Barlow: "Barlow Semi Condensed", serif;
    /* Font Weight */
    --size--M: 500;
    --size--L: 600;
}

/* Css Reset */

* {
    margin: 0;
    line-height: calc(1em + 0.4em);
}

body {
    font-family: var(--font-family--Barlow);
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}

/* Styling */

body {
    background-color: var(--color--ne--grayblue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    padding: 4rem 1.7rem;
    font-size: var(--size--sm);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: max(1.9vw, 1.5rem);
    width: max(80vw, 60rem);
}

.testimonial-box {
    padding: max(2vw, 1.2rem);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.testimonial-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.1rem;
    padding-bottom: 0.5rem;
}

.testimonial-header img {
    display: inline;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    border: 2px solid var(--color--ne--gray);
}

.testimonial-author {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
}

.author-info {
    color: hsla(210, 46%, 95%, 0.7);;
}

.testimonial-title {
    font-weight: var(--size--M);
    z-index: 2;
    padding-bottom: 0.5rem;
}

.testimonial-info {
    color: var(--color--ne--gray);
    font-size: 0.9rem;
}

.card-1 {
    grid-column: span 2;
    background-color: var(--color--Violet);
    color: var(--color--pm--white);
    position: relative;
}

.card-1::before {
    content: url("images/bg-pattern-quotation.svg");
    position: absolute;
    top: 0;
    right: 20%;
    z-index: 1;
}

.card-2 {
    grid-column: 3 / 4;
    background-color: var(--color--pm--grayblue);
    color: var(--color--pm--white);
}

.card-3 {
    grid-column: 1 / 2;
}

.card-4 {
    grid-column:  2 / 4;
    background-color: var(--color--pm--darkblue);
    color: var(--color--pm--white);
}

.card-5 {
    grid-area: 1 / 4 / 3 / 5;
}

.card-3, .card-5 {
    background-color: var(--color--pm--white);
    color: var(--color--pm--grayblue);
    
}

.card-3 .author-info, .card-5 .author-info {
    color: hsla(217, 19%, 35%, 0.5);
}

.card-3 .testimonial-info , .card-5 .testimonial-info {
    color: hsla(217, 19%, 35%, 0.7);
}

.card-5 .testimonial-title {
    padding-bottom: 1.2rem;
}





@media(max-width:1000px) {
    .container {
        display: grid;
        grid-template-columns: 400px;
        justify-content: center;
    }
    .card-1 {
        grid-column: 1 / 2;
        grid-row: span 1;
    }
    .card-2 {
        grid-column: 1 / 2;
        grid-row: span 1;
    }
    .card-3 {
        grid-column: 1 / 2;
        grid-row: span 1;
    }
    .card-4 {
        grid-column: 1 / 2;
        grid-row: span 1;
    }
    .card-5 {
        grid-column: 1 / 2;
        grid-row: span 1;
    }
}

@media(max-width:410px) {
    .container {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
    }

    .card-1::before {
        width: 20%;
    }
}


